
.heading1{
	  display:flex;
  justify-content: center;
   color:blue;
   text-align:center;
   background-image: url("bg.webp");
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
 
}
.logo {
  width: 45px;             
  margin-right: 10px;
}


.topnav {
	display: flex;
	background-color: #333;
	justify-content: center;   
  	gap: 30px;  
	overflow: hidden;               
  	margin-bottom: 20px;
}

	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

		/* Change the color of links on hover */
		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

		/* Add a color to the active/current link */
		.topnav a.active {
			background-color: #04AA6D;
			color: white;
		}


.all-sections {
  margin: 20px auto;
  padding: 15px;
  background-color: lightgray;
  max-width: 1100px;
}

.all-sections > h1 {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.browser {
  display: flex;
  background: white;
  margin: 10px 0;
  padding: 10px;
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap;
}

.browser > h2, 
.browser p {
  margin: 6px 0;
  font-size: 95%;
}

