.outer {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  padding: 20px;  
}

.inner {
  width: 100%;
  height: 100%;
  border: 3px solid red;
  text-align: center;
}

.outer.active {
  transform: translateX(200px); 
}

.button{
	padding: 20px;
	text-align: center;
	margin-left: 140px;
	margin-top: 60px;
}

.bow {
	position: absolute;
	transform: rotate(-40deg);
	top: 20%;
	left: 60px;
	width: 200px;
}

.target {
	position: absolute;
	right: 80px;
	top: 40%;
	transform: translateY(-50%);
	width: 80px;
}

.arrow {
	position: absolute;
	bottom: 350px;
	left: 280px;
	width: 120px;
	transform: rotate(162deg);
}

#top {
	position: absolute;
	top: 20px;
	left: 20px;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

#score, #timer {
    margin-top: 10px;
}