.outer {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  padding: 20px;  
}

.inner {
  width: 100%;
  height: 100%;
  border: 3px solid red;
  text-align: center;
}

.button{
	padding: 20px;
	text-align: center;
	margin-left: 140px;
	margin-top: 60px;
}